@import "src/common/mixin";
@import "src/common/variables";

@media (max-width: 992px) {
  .productBlock {
    max-width: 95%;
    max-height: 250px;
    justify-content: flex-start;
    .productWithCount{
      max-height: 170px;
    }
  }
}

.productBlock {
  width: 550px;
  height: 475px;
  border: 5px solid $colorForButton;
  border-radius: 10px;
  padding: 10px;
  @include flex(flex, column, space-between, unset);

  .productWithCount {
    overflow-y: auto;
    height: 428px;

    .blockInBasket {
      width: 100%;
      border: 2px solid $colorForButton;
      border-radius: 10px;
      @include flex(flex, row, space-between, center);
      margin-bottom: 10px;
      padding: 0 7px;
    }
  }

  .totalBlock {
    @include flex(flex, row, space-around, center);

    .totalPrice {
      font-size: 20px;
      font-weight: 500;
    }

  }
}


