@import 'src/common/mixin';
@import 'src/common/variables';

.mainBlock {
    position: relative;
    height: 300px;
    width: 250px;
    border: 2px solid $mainColor;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    @include flex(flex, column, space-between, center);
    .visibleMessage{
        position: absolute;
        height: 50px;
        width: 170px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $mainColor;
        border-radius: 7px;
        font-size: 16px;
        font-weight: bold;
        @include flex(flex, column, center, center);
        color: $mainTextColor;
        z-index: 100;
    }
    .unvisibleMessage{
        display: none;
        transition: 0.3s;
    }
    .picBlock {
        height: 60%;
        width: 95%;
        border-radius: 10px;

        img {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    h3 {
        font-size: 23px;
    }

    .buttonBlock {
        width: 120px;
        height: 30px;
        padding: 0 10px;
        font-size: 16px;
        font-weight: bold;
        color: $mainTextColor;
        border-radius: 7px;
        background-color: $mainColor;
        cursor: pointer;
        transition: 0.3s;
    }

    .buttonBlock:hover {
        transform: scale(1.1, 1.1);
    }

    .buttonBlock:active {
        background-color: #a01dfa;
    }
}


