.mainBlock{
    height: 200px;
    width: 150px;
    border: 1px solid #464545;
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.picBlock{
    height: 50%;
    width: 85%;
    background-color: #e2a5fa;
}
