@import "src/common/variables";

.buttonCloseBlock {
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  overflow: hidden;

  span {
    position: absolute;
    width: 40px;
    height: 3px;
    background: $mainTextColor;
    border-radius: 10px;
    transition: 0.5s;
    right: 0;

    &:nth-child(1) {
      width: 30px;
      transform: translateY(0) rotate(45deg);
      transition-delay: 0.125s;
    }

    &:nth-child(2) {
      width: 30px;
      transform: translateY(0) rotate(315deg);
      transition-delay: 0.25s;
    }
  }
}