@import "src/common/mixin";
@import "src/common/variables";

@media (max-width: 992px) {
  .basketBlock {
    min-height: auto;
    max-width: 90%;

   }
}

.App {
  margin: 0 auto;
  .mainBlock {
    width: 100%;
    margin-top: 50px;
    position: relative;
    @include flex(flex, column, flex-start, center);
    z-index:100;
    .basketBlock {
      position: absolute;
      display: block;
      width: 1000px;
      height: 550px;
      min-height: auto;
      top: 50px;
    }
    .basketBlockFalse {
      display: none;
    }
  }
}



