@import 'src/common/mixin';

@media (max-width: 992px) {
   .picBlockInBasket{
      max-height: 40px;
      max-width: 40px;
      margin-right: -10px;
    }
}

.mainBlockInBasket {
  height: 70px;
  width: 50%;

  @include flex(flex, row, flex-start, center);
  gap: 20px;

  .picBlockInBasket {
    height: 50px;
    width: 50px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .informBlockInBasket {
    @include flex(flex, column, center, flex-start);
  }
}

